<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">
      <div class="navbar-item">
        Spring for GraphQL - Using JooQ for Database Access - Performance Tuning
      </div>
    </div>
  </nav>
</header>
